.wy-side-nav-search, .wy-nav-top {
    background: #b31b1b;
     
}

a {
    color: #b31b1b;
}

.icon-home {
    color: #ffffff;
}

.wy-menu .caption-text {
    color: #dedede;
}

.toctree-l1 {
    color: #b31b1b;
}